In [1]:
#Hello world
print ("Hello World")

Hello World

In [6]:
# Assignment 2.1: Add three numbers and print the result

# Input three numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

# Calculate sum
result = num1 + num2 + num3

# Display result
print("The sum of three numbers is:", result)

Enter first number: 45.56
Enter second number: 564.56
Enter third number: 564.657
The sum of three numbers is: 1174.777

In [7]:
# Assignment 2.2: Concatenate three strings and print the result

# Input three strings
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
str3 = input("Enter third string: ")

# Concatenate
result = str1 + str2 + str3

# Display result
print("The concatenated string is:", result)

Enter first string: djsbnf
Enter second string: dsfbn
Enter third string: dssfbn
The concatenated string is: djsbnfdsfbndssfbn

In [8]:
# Assignment 4.1: Print the table of 7 and 9

print("Table of 7:")
for i in range(1, 11):
    print(f"7 x {i} = {7 * i}")

print("\nTable of 9:")
for i in range(1, 11):
    print(f"9 x {i} = {9 * i}")

Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [9]:
# Assignment 4.2: Print the table of n given by the user

n = int(input("Enter a number to print its table: "))

print(f"Table of {n}:")
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter a number to print its table: 4
Table of 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [10]:
# Assignment 4.3: Add all numbers from 1 to n

n = int(input("Enter a number: "))

total = 0
for i in range(1, n + 1):
    total += i

print(f"The sum of numbers from 1 to {n} is: {total}")

Enter a number: 9
The sum of numbers from 1 to 9 is: 45

In [11]:
# Assignment 5.1: Find the maximum among three numbers

# Input three numbers
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

# Use max() function
maximum = max(a, b, c)

# Display result
print("The maximum number is:", maximum)

Enter first number: 78.67
Enter second number: 674.67
Enter third number: 65.3
The maximum number is: 674.67

In [12]:
# Assignment 5.2: Add all numbers divisible by both 7 and 9 from 1 to n

n = int(input("Enter the value of n: "))

total = 0
for i in range(1, n + 1):
    if i % 7 == 0 and i % 9 == 0:
        total += i

print("The sum of numbers divisible by both 7 and 9 from 1 to", n, "is:", total)

Enter the value of n: 5
The sum of numbers divisible by both 7 and 9 from 1 to 5 is: 0

In [13]:
# Assignment 5.3: Add all prime numbers from 1 to n

n = int(input("Enter the value of n: "))

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

total = 0
for i in range(1, n + 1):
    if is_prime(i):
        total += i

print("The sum of all prime numbers from 1 to", n, "is:", total)

Enter the value of n: 67
The sum of all prime numbers from 1 to 67 is: 568

In [14]:
# Assignment 6.1: Add all odd numbers from 1 to n using a function

def add_odd_numbers(n):
    total = 0
    for i in range(1, n + 1):
        if i % 2 != 0:
            total += i
    return total

# Input from user
n = int(input("Enter the value of n: "))

# Function call and result display
print("The sum of all odd numbers from 1 to", n, "is:", add_odd_numbers(n))

Enter the value of n: 45
The sum of all odd numbers from 1 to 45 is: 529

In [15]:
# Assignment 6.2: Add all prime numbers from 1 to n using a function

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def add_prime_numbers(n):
    total = 0
    for i in range(1, n + 1):
        if is_prime(i):
            total += i
    return total

# Input from user
n = int(input("Enter the value of n: "))

# Function call and result display
print("The sum of all prime numbers from 1 to", n, "is:", add_prime_numbers(n))

Enter the value of n: 45
The sum of all prime numbers from 1 to 45 is: 281